  <h1>HOME</h1>
    <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <a href='/leaderboard'><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Topeka-leaderboard.svg/2000px-Topeka-leaderboard.svg.png"></a>

            </div>

            <div class="card-action">
              Leaderboard
            </div>
          </div>
        </div>
      </div>
